@font-face {
    font-family: "Poppins ExtraBold";
    src: url(Poppins-ExtraBold.ttf);
}

@font-face {
    font-family: "Poppins Regular";
    src: url(Poppins-Regular.ttf);
}

@font-face {
    font-family: "Poppins SemiBold";
    src: url(Poppins-SemiBold.ttf);
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    background-color: #fff;
}

nav{
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    height: 7rem;
    background-color: #6464FB00;
    font-family: Poppins ExtraBold;
    width: 100%;
    position: fixed;
}

nav .logo img{
    height: 3.7rem;
}

nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}

nav ul li{
    margin: 1em;
}

nav ul li a{
    display: flex;
    text-decoration: none;
    font-size: 1.3em;
    text-transform: capitalize;
    color: #fff;
}

.btn-nav {
  background-color: #6464FB;
  color: #fff;
  transition: background-color 1s;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2em;
  letter-spacing: 1px;
  cursor: pointer;
  border: none;
  font-family: Poppins ExtraBold;
}

.btn-nav:hover {
  background-color: #47468d;
}

.btn-nav:focus,
.btn-nav:active {
  background-color: black;
  transition: none;
}


nav li a{
    position: relative;
    list-style: none;
    letter-spacing: 0.5px;
    padding: 0 10px;
}

nav li a::after{
    content: '';
    position: absolute;
    background-color: #6464FB;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -8px;
    transition: all 0.5s ease;
}

nav li a:hover::after{
    width: 100%;
}

.nav-items{
    margin: 0 1.6rem 0 0;
}

highlight{
    color: #E8A44F !important;
}

.landing-page{
    background-image: url(../img/bg-solar-panel.png);
    width: 100%;
    height: fit-content;
    background-size: 100% 100%;
}

.container-land{
    width: 100%;
    padding-top: 8rem;
    display: flex;
    flex-direction: row;
}

.container-slogan, .container-box{
    width: 100%;
    margin: 3rem 24rem 0 21rem;
}

.container-slogan{
    font-family: "Poppins ExtraBold";
    color: #fff;
    margin-top: 16rem;
}

.slogan{
    font-size: 2.7vw;
    width: 300%;
}


.container-box{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: 70vh;
    padding-left: 8rem;
    padding-right: 8rem;
    margin-bottom: 9rem;
    width: 100%;
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.44); 
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.44);
    border-radius: 30px;
    justify-content: center;
    align-items: center;
}

#title-box{
    font-size: 1.3vw;
    font-family: "Poppins SemiBold";
}