/* tailwindcss */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts */
/* Inter */
@font-face {
    font-family: 'Inter';
    src: url(./assets/fonts/Inter-Regular.ttf);
}

::ng-deep * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #0a0a15e6;
}